.country{
  border: 2px solid salmon;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;

}
.country img {
  width: 200px;   /* pick a size */
  height: 120px;  /* force same height */
  object-fit: cover;  /* crop nicely without distortion */
  border: 1px solid #ccc;
  border-radius: 8px;
}
.country-visited{
  background-color: aquamarine;
  color: black;
  border-color: white;
}